IVS.Data.IVS/Service References/IVSDecodeService/IVS3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ivs-decode.trafficed.net/IVS.WS.Decode.IVSDecodeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://ivs-decode.trafficed.net/IVS.WS.Decode.IVSDecodeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IVS.Data.Decode" />
  <xs:element name="DecodeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q1:guid" />
        <xs:element minOccurs="0" name="RawData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IVS.Data.Decode" minOccurs="0" name="DecodeDataResult" nillable="true" type="q2:DecodedData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>