IVS.2001.GrandRapids/Service References/IVSService/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" />
  <xs:element name="NewClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q1:guid" />
        <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewClientResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q2:guid" />
        <xs:element minOccurs="0" name="HostName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientIDResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetClientsResult" nillable="true" type="q4:ArrayOfClients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetStationsResult" nillable="true" type="q6:ArrayOfLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetLocationsResult" nillable="true" type="q8:ArrayOfLocations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q9:guid" />
        <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetLocationResult" nillable="true" type="q10:Locations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q11:guid" />
        <xs:element minOccurs="0" name="LocationDescription" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="NewLocation" nillable="true" type="q13:Locations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q14:guid" />
        <xs:element minOccurs="0" name="LocationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientIPAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q15:guid" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientIPAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientIPAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q16:guid" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetClientSettingsResult" nillable="true" type="q17:ClientSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q18:guid" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="NewClientSettings" nillable="true" type="q19:ClientSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClientSettingsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q20:guid" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q21:guid" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeviceInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetDeviceInfoResult" nillable="true" type="q22:DeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDevice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q23:guid" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="DeviceInfo" nillable="true" type="q24:DeviceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDeviceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q25:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetUsersResult" nillable="true" type="q26:ArrayOfUserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetUserNamesResult" nillable="true" type="q28:ArrayOfUserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q29:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q30:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserPhoneResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q31:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetUserDetailResult" nillable="true" type="q32:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q33:guid" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="UserDetail" nillable="true" type="q34:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q35:guid" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="UserDetail" nillable="true" type="q36:UserDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q37:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q38:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q39:guid" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserNameAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserNameAvailableResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q40:guid" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserAuthenticatedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserAuthenticatedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetAlertsResult" nillable="true" type="q42:ArrayOfAlertDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q43:guid" />
        <xs:element minOccurs="0" name="AlertID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlertDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetAlertDetailResult" nillable="true" type="q44:AlertDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanAlerts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q45:guid" />
        <xs:element minOccurs="0" name="IDAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NameFirst" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NameLast" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanAlertsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanAlertsResult" nillable="true" type="q46:ArrayOfAlertDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q47:guid" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="AlertDetail" nillable="true" type="q48:AlertDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q49:guid" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="AlertDetail" nillable="true" type="q50:AlertDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q51:guid" />
        <xs:element minOccurs="0" name="AlertID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q52:guid" />
        <xs:element minOccurs="0" name="AlertID" type="xs:int" />
        <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnableAlertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q53:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageAvailableResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q54:guid" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanInfo" nillable="true" type="q55:SwipeScanInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="NewDataSwipeScanResult" nillable="true" type="q56:SwipeScanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScanManual">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q57:guid" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanDetail" nillable="true" type="q58:SwipeScanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScanManualResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NewDataSwipeScanManualResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q59:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
        <xs:element minOccurs="0" name="SwipeScanType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanDetailResult" nillable="true" type="q60:SwipeScanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q61:guid" />
        <xs:element minOccurs="0" name="IDAccountNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SwipeScanType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanHistoryResult" nillable="true" type="q62:ArrayOfSwipeScanHistory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q63:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSwipeScanTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateFirst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q64:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateFirstResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanNavigateFirstResult" nillable="true" type="q65:SwipeScanNavigateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigatePrevious">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q66:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigatePreviousResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanNavigatePreviousResult" nillable="true" type="q67:SwipeScanNavigateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigatePosition">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q68:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigatePositionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanNavigatePositionResult" nillable="true" type="q69:SwipeScanNavigateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateNext">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q70:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateNextResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanNavigateNextResult" nillable="true" type="q71:SwipeScanNavigateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateLast">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q72:guid" />
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ClientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SwipeScanNavigateLastResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="SwipeScanNavigateLastResult" nillable="true" type="q73:SwipeScanNavigateInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSwipeScan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q74:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSwipeScanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCaseID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q75:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
        <xs:element minOccurs="0" name="CaseID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCaseIDResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanSearchResult" nillable="true" type="q77:ArrayOfSwipeScanSearch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEPViolations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q78:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEPViolationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetTEPViolationsResult" nillable="true" type="q79:ArrayOfTEPViolations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEPClientSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q80:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTEPClientSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetTEPClientSettingsResult" nillable="true" type="q81:TEPClientSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScan_TEP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q82:guid" />
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="TEPSwipeScanDetail" nillable="true" type="q83:TEPSwipeScanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScan_TEPResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScan_Violation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q84:guid" />
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="TEPSwipeScanViolation" nillable="true" type="q85:TEPSwipeScanViolations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewDataSwipeScan_ViolationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetail_TEP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q86:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetail_TEPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanDetail_TEPResult" nillable="true" type="q87:TEPSwipeScanDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetail_Violations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q88:guid" />
        <xs:element minOccurs="0" name="SwipeScanID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSwipeScanDetail_ViolationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/IVS.Data.GrandRapids" minOccurs="0" name="GetSwipeScanDetail_ViolationsResult" nillable="true" type="q89:ArrayOfTEPSwipeScanViolations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCitationUsedAlready">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="LicenseGuid" type="q90:guid" />
        <xs:element minOccurs="0" name="CitationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsCitationUsedAlreadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsCitationUsedAlreadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>